@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Noto+Sans|Permanent+Marker|Righteous');

body,html{
    height:100;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height:1.8em;
    color: #666;
}

header{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
 }
 
 a{
    text-decoration: none;
    }

 a::before{
        content:'';
        display: block;
        height: 5px;
        background:black;
        position: absolute;
        bottom: -.25em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
 }

a:hover::before{
 transform: scale(1,1);
}

.logo{
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        font-size: 22px;
        position: absolute;
    }
    .menu-btn{
        width: 26px;
        height: 22px;
        cursor: pointer;
    }
 
    #menu-glitch{
    float: right;
    }
       
    .glitch {
        font-family: 'Permanent Marker', cursive;
        color: black;
        font-weight: bold;
        font-size: 22px;
        position: relative;  
       
      }
   
      @keyframes noise-anim {
        0% {
          clip: rect(83px, 9999px, 23px, 0);
        }
        5% {
          clip: rect(20px, 9999px, 74px, 0);
        }
        10% {
          clip: rect(70px, 9999px, 77px, 0);
        }
        15.0% {
          clip: rect(83px, 9999px, 85px, 0);
        }
        20% {
          clip: rect(50px, 9999px, 18px, 0);
        }
        25% {
          clip: rect(36px, 9999px, 59px, 0);
        }
        30.0% {
          clip: rect(38px, 9999px, 14px, 0);
        }
        35% {
          clip: rect(92px, 9999px, 41px, 0);
        }
        40% {
          clip: rect(20px, 9999px, 22px, 0);
        }
        45% {
          clip: rect(44px, 9999px, 7px, 0);
        }
        50% {
          clip: rect(88px, 9999px, 50px, 0);
        }
        55.0% {
          clip: rect(78px, 9999px, 89px, 0);
        }
        60.0% {
          clip: rect(42px, 9999px, 73px, 0);
        }
        65% {
          clip: rect(91px, 9999px, 17px, 0);
        }
        70% {
          clip: rect(59px, 9999px, 64px, 0);
        }
        75% {
          clip: rect(55px, 9999px, 61px, 0);
        }
        80% {
          clip: rect(85px, 9999px, 42px, 0);
        }
        85.0% {
          clip: rect(100px, 9999px, 24px, 0);
        }
        90% {
          clip: rect(56px, 9999px, 45px, 0);
        }
        95% {
          clip: rect(86px, 9999px, 62px, 0);
        }
        100% {
          clip: rect(86px, 9999px, 47px, 0);
        }
      }
      .glitch:after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 red;
        top: 0;
        color: black;
        background: white;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 2s infinite linear alternate-reverse;
       
      }
      
      @keyframes noise-anim-2 {
        0% {
          clip: rect(50px, 9999px, 70px, 0);
        }
        5% {
          clip: rect(80px, 9999px, 10px, 0);
        }
        10% {
          clip: rect(1px, 9999px, 62px, 0);
        }
        15.0% {
          clip: rect(82px, 9999px, 40px, 0);
        }
        20% {
          clip: rect(32px, 9999px, 63px, 0);
        }
        25% {
          clip: rect(63px, 9999px, 31px, 0);
        }
        30.0% {
          clip: rect(15px, 9999px, 39px, 0);
        }
        35% {
          clip: rect(17px, 9999px, 52px, 0);
        }
        40% {
          clip: rect(66px, 9999px, 59px, 0);
        }
        45% {
          clip: rect(3px, 9999px, 58px, 0);
        }
        50% {
          clip: rect(56px, 9999px, 28px, 0);
        }
        55.0% {
          clip: rect(90px, 9999px, 91px, 0);
        }
        60.0% {
          clip: rect(94px, 9999px, 97px, 0);
        }
        65% {
          clip: rect(18px, 9999px, 79px, 0);
        }
        70% {
          clip: rect(59px, 9999px, 37px, 0);
        }
        75% {
          clip: rect(35px, 9999px, 83px, 0);
        }
        80% {
          clip: rect(51px, 9999px, 57px, 0);
        }
        85.0% {
          clip: rect(28px, 9999px, 63px, 0);
        }
        90% {
          clip: rect(98px, 9999px, 55px, 0);
        }
        95% {
          clip: rect(69px, 9999px, 94px, 0);
        }
        100% {
          clip: rect(56px, 9999px, 1px, 0);
        }
      }
      .glitch:before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 blue;
        top: 0;
        color: black;
        background: white;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim-2 3s infinite linear alternate-reverse;
        
      }

    
nav{
    position: absolute;
    background: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul{
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a{
            color: white;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;
            font-size: 1.4em;
            position: relative;
            
        }
        a::before{
            content:'';
            display: block;
            height: 5px;
            background: white;
            position: absolute;
            bottom: -.50em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
     
        }
        a:hover::before{
            transform: scale(1,1);
        }
        span{
            font-family: 'Permanent Marker', cursive;
            color:  gray;
            display: block;
            font-size: 1em;
            margin-top: 20px;
        }

        li{
            opacity: 0;
        }
    }
}
.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;
    .close-btn{
        animation: show-x 1s 1s forwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
        
    
}
@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu-item-anim{
    from{
        transform: translateX(60%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.remove-menu{
    display: block;
    animation: slide-menu-out 1.6s ease-in backwards;
    .close-btn{
        animation: show-x-out 1.6s 1.6s backwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim-out .2s backwards .8s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim-out .2s backwards .6s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim-out .2s backwards .4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim-out .2s backwards .2s ease-in-out;
    }
}
@keyframes slide-menu-out{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes menu-item-anim-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(60%);
        opacity: 0;
    }
}

.contain-position{
    position: relative;
}
.pimg1, .pimg2, .pimg3, .pimg4{
  
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  
}
  
.pimg1{
  background-image: url('../images/world.jpeg');
  height: 100vh; 
}
.pimg2{
    background-image: url('../images/coding.jpg');
    height: 600px;
    
  }
  .pimg3{
    background-image: url('../images/video.jpeg');
    height: 600px;
  }
  .pimg4{
    background-image: url('../images/audio.jpg');
    height: 600px;
    
  }
.section{
    text-align: center;
    padding: 50px, 80px;
    margin: 0;

}
.section-light{
    padding: 20px;
    background-color: #f4f4f4;
    color:#666;
}

.ptext{
   position: absolute;
   top:50%;
   width:100%;
   text-align: center;
   color: white;
   font-size: 48px;
   letter-spacing: 8px;
   text-transform: uppercase;
}
 
.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
    opacity: 0.70;

}
  
.ptext .border.trans{
background-color: transparent;
}