@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Noto+Sans|Permanent+Marker|Righteous');

body,html{
    height:100;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height:1.8em;
    color: #666;
}

header{
    padding: 3em 100px;
 
}
 
 a{
    text-decoration: none;
    }

.logo{
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 24px;
        
    }
.menu-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    }
 
    
       
.menu{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-weight: bold;
    font-size: 24px;
    float: right; 
       
      }
   
      
    
nav{
    position: absolute;
    background: white;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(20% - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 28px;
        height:28px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul{
        list-style-type: none;
        margin: auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a{
            color: black;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;
            font-size: 1.4em;
            position: relative;
            
        }
        a::before{
            content:'';
            display: block;
            height: 5px;
            background: black;
            position: absolute;
            bottom: -.50em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
     
        }
        a:hover::before{
            transform: scale(1,1);
        }
        span{
            font-family: 'Permanent Marker', cursive;
            color:  gray;
            display: block;
            font-size: 1em;
            margin-top: 10px;
        }

        li{
            opacity: 0;
        }
    }
}
.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;
    .close-btn{
        animation: show-x 1s 1s forwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
        
    
}
@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu-item-anim{
    from{
        transform: translateX(60%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.remove-menu{
    display: block;
    animation: slide-menu-out 1.6s ease-in backwards;
    .close-btn{
        animation: show-x-out 1.6s 1.6s backwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim-out .2s backwards .8s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim-out .2s backwards .6s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim-out .2s backwards .4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim-out .2s backwards .2s ease-in-out;
    }
}
@keyframes slide-menu-out{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes menu-item-anim-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(60%);
        opacity: 0;
    }
}

.pimg1, .pimg2, .pimg3, .pimg4{
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
}
  
.pimg1{
  background-image: url('../images/world.jpeg');
  height: 1000px; 
}
.pimg2{
    background-image: url('../images/coding.jpg');
    height: 600px;
    
  }
  .pimg3{
    background-image: url('../images/video.jpeg');
    height: 600px;
  }
  .pimg4{
    background-image: url('../images/audio.jpg');
    height: 600px;
    
  }
.section{
    text-align: center;
    padding: 50px, 100px;
    margin: 0;

}

.section-light{
    padding: 20px 100px;
    background-color: #f4f4f4;
    color:#666;
}

h2{
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-align: center;
    font-size: 24px;
}

#about-me{
    
    position: absolute;
   
}
.my-photo{
    
    float:left;
    margin-bottom: 800px;
}




.ptext{
   position: absolute;
   top:50%;
   width:100%;
   text-align: center;
   color: white;
   font-size: 48px;
   letter-spacing: 8px;
   text-transform: uppercase;
}
 
.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
    opacity: 0.70;

}
  
@media screen and (max-width:1680px){
   .pimg1{
    background-image: url('../images/world.jpeg'); 
    height: 850px;
   } 
   .pimg2{
    background-image: url('../images/coding.jpg');
    height: 510px;
    
  }
  .pimg3{
    background-image: url('../images/video.jpeg');
    height: 510px;
    
  }
  .pimg4{
    background-image: url('../images/audio.jpg');
    height: 510px;
    
  }
}

@media screen and (max-width:1420px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 722px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 433px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 433px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 433px;
     
   }
 }

 @media screen and (max-width:1220px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 614px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 368px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 368px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 368px;
     
   }
 }

 @media screen and (max-width:1040px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 522px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 313px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 313px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 313px;
     
   }
 }

 @media screen and (max-width:920px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 422px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 265px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 265px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 265px;
     
   }
 }

 @media screen and (max-width:740px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 357px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 210px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 210px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 210px;
     
   }
 }

 @media screen and (max-width:640px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 300px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 175px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 175px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 175px;
     
   }
 }

 @media screen and (max-width:540px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 250px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 150px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 150px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 150px;
     
   }
 }

 @media screen and (max-width:480px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 220px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 120px;
     
   }
   .pimg3{
     background-image: url('../images/video.jpeg');
     height: 120px;
     
   }
   .pimg4{
     background-image: url('../images/audio.jpg');
     height: 120px;
     
   }
 }