@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Noto+Sans|Permanent+Marker|Righteous');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Arimo');

body,html{
    height:100;
    margin: 0;
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height:1.8em;
    color: #666;
    font-weight: 500;
}



header{
    padding: 3em 50px;
 
}
 
 a{
    text-decoration: none;
    }

.logo{
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 26px;     
    }
.menu-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    }
 
    
#menu-glitch{
        float: right;
        }
           
        .glitch {
            font-family: 'Permanent Marker', cursive;
            color: black;
            font-size: 26px;
            position: relative;  
           
          }
       
          @keyframes noise-anim {
            0% {
              clip: rect(83px, 9999px, 23px, 0);
            }
            5% {
              clip: rect(20px, 9999px, 74px, 0);
            }
            10% {
              clip: rect(70px, 9999px, 77px, 0);
            }
            15.0% {
              clip: rect(83px, 9999px, 85px, 0);
            }
            20% {
              clip: rect(50px, 9999px, 18px, 0);
            }
            25% {
              clip: rect(36px, 9999px, 59px, 0);
            }
            30.0% {
              clip: rect(38px, 9999px, 14px, 0);
            }
            35% {
              clip: rect(92px, 9999px, 41px, 0);
            }
            40% {
              clip: rect(20px, 9999px, 22px, 0);
            }
            45% {
              clip: rect(44px, 9999px, 7px, 0);
            }
            50% {
              clip: rect(88px, 9999px, 50px, 0);
            }
            55.0% {
              clip: rect(78px, 9999px, 89px, 0);
            }
            60.0% {
              clip: rect(42px, 9999px, 73px, 0);
            }
            65% {
              clip: rect(91px, 9999px, 17px, 0);
            }
            70% {
              clip: rect(59px, 9999px, 64px, 0);
            }
            75% {
              clip: rect(55px, 9999px, 61px, 0);
            }
            80% {
              clip: rect(85px, 9999px, 42px, 0);
            }
            85.0% {
              clip: rect(100px, 9999px, 24px, 0);
            }
            90% {
              clip: rect(56px, 9999px, 45px, 0);
            }
            95% {
              clip: rect(86px, 9999px, 62px, 0);
            }
            100% {
              clip: rect(86px, 9999px, 47px, 0);
            }
          }
          .glitch:after {
            content: attr(data-text);
            position: absolute;
            left: 2px;
            text-shadow: -1px 0 red;
            top: 0;
            color: black;
            background: white;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: noise-anim 2s infinite linear alternate-reverse;
           
          }
          
          @keyframes noise-anim-2 {
            0% {
              clip: rect(50px, 9999px, 70px, 0);
            }
            5% {
              clip: rect(80px, 9999px, 10px, 0);
            }
            10% {
              clip: rect(1px, 9999px, 62px, 0);
            }
            15.0% {
              clip: rect(82px, 9999px, 40px, 0);
            }
            20% {
              clip: rect(32px, 9999px, 63px, 0);
            }
            25% {
              clip: rect(63px, 9999px, 31px, 0);
            }
            30.0% {
              clip: rect(15px, 9999px, 39px, 0);
            }
            35% {
              clip: rect(17px, 9999px, 52px, 0);
            }
            40% {
              clip: rect(66px, 9999px, 59px, 0);
            }
            45% {
              clip: rect(3px, 9999px, 58px, 0);
            }
            50% {
              clip: rect(56px, 9999px, 28px, 0);
            }
            55.0% {
              clip: rect(90px, 9999px, 91px, 0);
            }
            60.0% {
              clip: rect(94px, 9999px, 97px, 0);
            }
            65% {
              clip: rect(18px, 9999px, 79px, 0);
            }
            70% {
              clip: rect(59px, 9999px, 37px, 0);
            }
            75% {
              clip: rect(35px, 9999px, 83px, 0);
            }
            80% {
              clip: rect(51px, 9999px, 57px, 0);
            }
            85.0% {
              clip: rect(28px, 9999px, 63px, 0);
            }
            90% {
              clip: rect(98px, 9999px, 55px, 0);
            }
            95% {
              clip: rect(69px, 9999px, 94px, 0);
            }
            100% {
              clip: rect(56px, 9999px, 1px, 0);
            }
          }
          .glitch:before {
            content: attr(data-text);
            position: absolute;
            left: -2px;
            text-shadow: 1px 0 blue;
            top: 0;
            color: black;
            background: white;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: noise-anim-2 3s infinite linear alternate-reverse;
            
          }   
    
nav{
    position: absolute;
    background: white;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(20% - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 28px;
        height:28px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 25%);
        width: 78%;

        a{
            color: black;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;
            font-size: 1.4em;
            position: relative;
            
        }
        a::before{
            content:'';
            display: block;
            height: 5px;
            background: black;
            position: absolute;
            bottom: -.50em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
     
        }
        a:hover::before{
            transform: scale(1,1);
        }
        span{
            font-family: 'Permanent Marker', cursive;
            color:  gray;
            display: block;
            font-size: 1em;
            margin-top: 10px;
        }

        li{
            opacity: 0;
        }
    }
}
.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;
    .close-btn{
        animation: show-x 1s 1s forwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
    li:nth-of-type(5){
        animation: menu-item-anim .6s forwards 1.8s ease-in-out;
    }
        
    
}
@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu-item-anim{
    from{
        transform: translateX(60%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.remove-menu{
    display: block;
    animation: slide-menu-out 2s ease-in backwards;
    .close-btn{
        animation: show-x-out 2s 2s backwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim-out .5s backwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim-out .4s backwards .8s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim-out .3s backwards .6s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim-out .2s backwards .4s ease-in-out;
    }
    li:nth-of-type(5){
        animation: menu-item-anim-out .1s backwards .2s ease-in-out;
    }
}
@keyframes slide-menu-out{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes menu-item-anim-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(60%);
        opacity: 0;
    }
}

.pimg1, .pimg2{
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
}
  
.pimg1{
    background-image: url('../images/world.jpeg');
    height: 1000px; 
}
.pimg2{
    background-image: url('../images/coding.jpg');
    height: 600px;
}
.pimg3{
  background-image: url('../images/background2.jpg');
  background-size: cover;
  background-position: center;
  height: 1850px;
}


.project-h2{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 40px;
    padding: 20px 50px;
  }

.section-grey{
    padding: 20px 50px;
    background-color: #f4f4f4;
    color:#666;
}

.section-contact{
  text-align: center; 
  padding: 20px 50px;
  background-color: #f4f4f4;
  color:#666;
}

.writing{
  padding: 0 150px;
}

.section-h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 40px;
  
}

.about-h2{
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 40px;
  float: right;
 
}

.behind-text{
  font-family: 'Kaushan Script', cursive;
  color: #666;
  font-size: 80px;
  text-align: center;
  opacity: 0.1;
 }

.my-pic{
    padding: 15px 15px 15px 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    float:left;
    margin-right: 10px;
  }

  .pic-hidden{
   
    overflow: hidden;
  }


.ptext{
   position: absolute;
   top:50%;
   width:100%;
   text-align: center;
   color: white;
   font-size: 48px;
   letter-spacing: 8px;
   text-transform: uppercase;
}
 
.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
    opacity: 0.70;

}

.project-pics{
   height: 300px;
   
  }
  .black{
    color:black;
  }


  .projects-text{
    font-family: 'Permanent Marker', cursive;
    color: black;
    background: #FFFF99;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    width: 400px;
    height:330px;
    
  }
  
  .polaroid-images{
    list-style-type: none;
  
  }

  .polaroid-images a{
    font-family: 'Permanent Marker', cursive;
    color: black;
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
     transition: all .15s linear;
     z-index:0;
     position:relative;
  }

  .polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:15px;
}

.polaroid-images img { 
  display: block; 
  width: inherit; 
}

.polaroid-images a:nth-child(2n)
{
    -webkit-transform: rotate(4deg);  
    -moz-transform: rotate(4deg); 
    transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3n) { 
    -webkit-transform: rotate(-24deg);  
    -moz-transform: rotate(-24deg); 
    transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n)
{
    -webkit-transform: rotate(14deg);  
    -moz-transform: rotate(14deg); 
    transform: rotate(14deg); 
}
.polaroid-images a:nth-child(5n)
{
    -webkit-transform: rotate(-18deg);  
    -moz-transform: rotate(-18deg); 
    transform: rotate(-18deg); 
}

.polaroid-images a:hover{
  -webkit-transform: rotate(0deg); 
  -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2);
      transform: scale(1.2);
  z-index:10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
      box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.project-portfolio{
  clear:both;
}
.project-commerical{
  clear: both;
}
.project-short{
  clear: both;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Permanent Marker', cursive;
  padding: 45px 50px;

 
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}



.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
.linkedin, .facebook, .instagram, .github{
  height:35px;
}
  
@media screen and (max-width:1680px){
   .pimg1{
    background-image: url('../images/world.jpeg'); 
    height: 850px;
   } 
   .pimg2{
    background-image: url('../images/coding.jpg');
    height: 510px;
    
  }
 
 
}

@media screen and (max-width:1420px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 722px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 433px;
     
   }
 }

 @media screen and (max-width:1220px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 614px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 368px;
     
   }

   nav{
    .close-btn{
      width: 24px;
      height:24px;
  
  }

    ul{
        
        a{
          font-size: 20px;
            }

        span{
         font-size: 16px;
            }

    }
}

.logo{

  font-size: 22px;     
  }

.menu-btn{
  width: 24px;
  height: 24px;

  }



.glitch {
    
          font-size: 22px;
          
        }

.behind-text{
    
          font-size: 60px;
         
        }

.ptext{
  font-size: 40px;
}

.section-h2, .project-h2, .about-h2 {

  font-size: 32px;
  
}

body,html{
  font-size: 16px;
}

.my-pic{
  height: 325px;
}

.project-pics{
  height: 275px;
  
 }

 .projects-text{
   
  width: 300px;
  height: 230px;
  
}

.writing{
  padding: 0px 50px;
}


}


 @media screen and (max-width:980px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 422px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 265px;
     
   }

   nav{
    .close-btn{
      width: 22px;
      height:22px;
     
  }

    ul{
        
        a{
          font-size: 18px;
            }

        span{
         font-size: 12px;
            }

    }
}

.logo{

  font-size: 20px;     
  }

.menu-btn{
  width: 22px;
  height: 22px;
 
  }



.glitch {
          
          font-size: 20px;
           
         
        }

.behind-text{
    
          font-size: 40px;
         
        }

.ptext{
  font-size: 30px;
}

.section-h2, .project-h2, .about-h2 {

  font-size: 26px;
  
}

body,html{
  font-size: 14px;
}

.my-pic{
  height: 225px;
}

.project-pics{
  height: 200px;
  
 }

 .projects-text{
   
  width: 200px;
  height: 130px;
  
}

.writing{
  padding: 0px 50px;
}



.pimg3{
  height: 1400px;
}


 }

 @media screen and (max-width:740px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 357px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 210px;
     
   }

   .pimg3{
    height: 1200px;
  }
   .my-pic{
     height: 175px;
    
   }

   .project-pics{
    height: 150px;
    
   }
  
   .projects-text{
     
    width: 150px;
    height: 80px;
    
  }

  body,html{
    font-size: 12px;
  }
  .writing{
    padding: 0px 0px;
  }

  nav{
    .close-btn{
      width: 20px;
      height: 20px;
     
  }

    ul{
        
        a{
          font-size: 16px;
            }

        span{
         font-size: 10px;
            }

    }
}

.logo{

  font-size: 18px;     
  }

.menu-btn{
  width: 20px;
  height: 20px;
 
  }
  
.glitch {
          
  font-size: 18px;
   
 
}
 }

 @media screen and (max-width:680px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 300px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 175px;
 }

 .behind-text{
  font-size: 32px;
  
 }
.my-pic{
  float: none;
}

nav{
  .close-btn{
    width: 18px;
    height: 18px;
   
}

  ul{
      
      a{
        font-size: 14px;
          }

      span{
       font-size: 8px;
          }

  }
}

.logo{
text-align: center;
font-size: 16px;     
}

.menu-btn{
width: 18px;
height: 18px;

}


.glitch {
        
font-size: 16px;
 

}

   .footer-distributed .footer-left,
   .footer-distributed .footer-right{
     text-align: center;
   }
 
   .footer-distributed .footer-right{
     float: none;
     margin: 0 auto 20px;
   }
 
   .footer-distributed .footer-left p.footer-links{
     line-height: 1.8;
   }
 }

 @media screen and (max-width:600px){
  .behind-text{
    font-size: 28px;
    
   }
   .pimg3{
    height: 1200px;
  }
}

@media screen and (max-width: 620px){
  .my-pic{
    
    height: 300px;
   
}
}

 @media screen and (max-width:540px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 250px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 150px;
     
   }

  .my-pic{
    height: 250px;
   
  }

  .ptext{
    font-size: 24px;
  }

  .section-h2, .project-h2, .about-h2 {

    font-size: 20px;
    
  }

  nav{
    .close-btn{
      width: 18px;
      height: 18px;
     
  }
  
    ul{
        
        a{
          font-size: 12px;
            }
  
        span{
         font-size: 8px;
            }
  
    }
  }
  
  .logo{
  
  font-size: 16px;     
  }
  
  .menu-btn{
  width: 18px;
  height: 18px;
  
  }
  
  .glitch {
          
  font-size: 16px;
   
  
  }
  
 }

 @media screen and (max-width:520px){
  .behind-text{
    font-size: 24px;
    
   }
   .pimg3{
    height: 1500px;
  }

  .ptext{
    font-size: 24px;
  }

.section-h2, .project-h2, .about-h2 {

  font-size: 20px;
  
}
}


 @media screen and (max-width:480px){
    .pimg1{
     background-image: url('../images/world.jpeg'); 
     height: 220px;
    } 
    .pimg2{
     background-image: url('../images/coding.jpg');
     height: 120px;
     
   }
   .behind-text{
    font-size: 20px;
    
   }
   .pimg3{
    height: 1600px;
  }

  .ptext{
    font-size: 20px;
  }

.section-h2, .project-h2, .about-h2 {

  font-size: 18px;
  
}

.my-pic{
  height: 250px;
 
}
.my-pic{
  height: 180px;
 
}

.project-pics{
  height: 150px;
  
 }

 .projects-text{
   
  width: 150px;
  height: 80px;
  
}
nav{
  .close-btn{
    width: 18px;
    height: 18px;
   
}

  ul{
      
      a{
        font-size: 11px;
          }

      span{
       font-size: 6px;
          }

  }
}

header{
  padding: 3em 0px;

}


 }
 