@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Noto+Sans|Permanent+Marker|Righteous');
body, html {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    a{
        text-decoration: none;
    }
}
header{
    padding: 2em;
    .logo{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    
    .menu-btn{
        width: 24px;
        float: right;
        cursor: pointer;
    }
    
}
section{
    
       .slide-content{
         margin:0;
         padding:0;
         width: 100%;
         height: 100%;
         
         overflow-x: hidden;
         
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
  
      .slide{
        border: 10px outset #ddd;
        border-radius: 25px;border: 10px outset #ddd;
        border-radius: 25px;
         height: 400px;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         
     }
     
     .slide1{
         background-image: url('../images/coding.jpeg');
     }
     .slide2{
         background-image: url('../images/studio.jpeg');
     }
     .slide3{
         background-image: url('../images/video.jpeg');
     }

     .image-text{
         font-size: 5rem;
         color: white;
       
     }
     .arrow{
         cursor: pointer;
         position: absolute;
         margin-top: 180px;
       
         width: 0;
         height: 0;
         border-style: solid;
     }
     #arrow-left{
         border-width: 30px 40px 30px 0;
         border-color: transparent white transparent transparent;
         left: 0;
         margin-left: 30px;
     }
     #arrow-right{
         
         border-width: 30px 0px 30px 40px;
         border-color: transparent transparent transparent white;
         right: 0;
         margin-right: 30px;
     }

}

nav{
    position: absolute;
    background: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul{
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a{
            color: white;
            font-weight: bold;
            font-size: 1.4em;
            position: relative;
            
        }
        a::before{
            content:'';
            display: block;
            height: 5px;
            background: white;
            position: absolute;
            bottom: -.75em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
     
        }
        a:hover::before{
            transform: scale(1,1);
        }
        span{
            color:  gray;
            display: block;
            font-size: 1em;
            margin-top: 20px;
        }

        li{
            opacity: 0;
        }
    }
}
.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;
    .close-btn{
        animation: show-x 1s 1s forwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
        
    
}
@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu-item-anim{
    from{
        transform: translateX(60%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.remove-menu{
    display: block;
    animation: slide-menu-out 1.6s ease-in backwards;
    .close-btn{
        animation: show-x-out 1.6s 1.6s backwards;
    }
    
    li:nth-of-type(1){
        animation: menu-item-anim-out .2s backwards .8s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim-out .2s backwards .6s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim-out .2s backwards .4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim-out .2s backwards .2s ease-in-out;
    }
}
@keyframes slide-menu-out{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes menu-item-anim-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(60%);
        opacity: 0;
    }
}
